{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block header %}

<script
   src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="{% static 'scripts/main.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/spinner.css' %}" />

{% endblock %}

{% block title %}
Ajax
{% endblock %}

{% block content %}

<form  method="post" enctype="multipart/form-data" id="post-form">
{% csrf_token %}
{{ form|crispy }}
<input  type="submit" class="btn btn-success" value="Upload"  />
</form>


<br />

<div class="modal2"><!-- Place at bottom of page --></div>



{% endblock %}
